<div class="row" style="margin-top:30px">
    <div class="col-lg-12">
        <div class="bg-img">
            <div class="login form-align">
                <h1 class="login-heading" align="center">
                    <strong>Welcome.</strong> Please login.</h1>
                <form  name="formLogin" action="login" method="post" ng-submit = "SubmitLogin(formLogin.$valid)">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Username</label>
                            <input type="email" class="form-control" id="emailLogin" name="emailLogin" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Password</label>
                            <input type="password" class="form-control" id="passwordLogin" name = "passwordLogin" placeholder="Password" required="">

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check" align="center">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info btn-block">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->

<style>
    .bg-img {
        /* The image used */
        /* The image used */
        background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");

        /* Half height */
        min-height: 680px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .login {
        margin-top: 50px;
        width: 450px;
    }

    .login-heading {
        font: 1.8em/48px "Tenor Sans", sans-serif;
        color: white;
    }

    .form-align {
        margin-left: 580px;
    }

    .text-center {
        text-align: center;
    }

    .mg-2 {
        margin-top: 20px;
    }
</style>